@model FilmPortalı.Models.Users
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: right;margin-bottom: 0">
    <button class="btn btn-save" id="profile-save">Kaydet</button>
</div>

<div class="container tabs" style="margin-top: 5px">
    <div class="sidebar">
        <img src="@Session["kullaniciResim"]" alt="@User.Identity.Name" width="50" height="50">
        <h4 style="margin:0">Arwald</h4>

        <ul class="profile-btns">
            <li><a class="active" href="#profile">Profil Bilgileri</a></li>
            <li><a href="#account">Hesap Ayarları</a></li>
            <li><a href="#comments">Yorumlar</a></li>
            <li><a href="#list">Listelerim</a></li>
        </ul>
    </div>




    <div class="profile-wrapper" id="profile" style="display: block">
        @using (Html.BeginForm("UpdateInfo", "Profile", FormMethod.Post, new { id = "profile-form" }))
        {
            @Html.HiddenFor(m => m.UId)
            <div class="form-group">
                <label for="ad">Ad</label>
                @Html.TextBoxFor(m => m.UName, new { @class = "input-item profile-input", placeholder = "ad" })
            </div>
            <div class="form-group">
                <label for="soyad">Soyad</label>
                @Html.TextBoxFor(m => m.USurname, new { @class = "input-item profile-input", placeholder = "soyad" })
            </div>
            <div class="form-group w25">
                <label for="date">Doğum Tarihi</label>
                @Html.TextBoxFor(m => m.UBirthDate, new { @class = "input-item profile-input", type = "date" })
            </div>
            <div class="form-group w25">
                <label for="gender">Cinsiyet</label>
                @Html.DropDownList("gender", new List<SelectListItem>
                      { new SelectListItem{Text="Erkek", Value="0"},
                        new SelectListItem{Text="Kız", Value="1"}}, new { @class = "input-item profile-input select-input" })
            </div>
            <div class="form-group w25">
                <label for="twitter">Twitter k. adı</label>
                @Html.TextBoxFor(m => m.UTwitter, new { @class = "input-item profile-input", placeholder = "twitter", id = "twitter" })
            </div>
            <div class="form-group w25">
                <label for="instagram">İnstagram k. adı</label>
                @Html.TextBoxFor(m => m.UInstagram, new { @class = "input-item profile-input", placeholder = "instagram", id = "instagram" })
            </div>
            <div class="form-group w100">
                <label for="hakkımda">Hakkımda</label>
                @Html.TextAreaFor(m => m.UInfo, new { @class = "textarea info-input", placeholder = "hakkımda", id = "hakkımda", rows = "8" })
            </div>
        }
    </div>

    <div class="profile-wrapper" id="account">

        @using (Html.BeginForm("UpdateInfo", "Profile", FormMethod.Post, new { id = "account-form", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.UId)
            <div class="form-group">
                <label for="img">Profil Resmi</label>
                @Html.TextBox("image","", new { @class = "input-item profile-input", id = "image",type="file" })
            </div>
            <div class="form-group">
                <label for="url">Veya Resim URL'si</label>
                @Html.TextBoxFor(m => m.UImage, new { @class = "input-item profile-input", placeholder = "url", id = "url" })
            </div>
            <h3>Şifre Değiştir</h3>
            <div class="form-group">
                <label for="passwd">Yeni Şifre</label>
                @Html.TextBoxFor(m => m.UPasswd, new { @class = "input-item profile-input", placeholder = "yeni şifre", id = "passwd", type = "password" })
            </div>
            <div class="form-group">
                <label for="npasswd">Yeni Şifre Tekrar</label>
                @Html.TextBoxFor(m => m.UPasswd, new { @class = "input-item profile-input", placeholder = "yeni şifre tekrar", id = "npasswd", type = "password" })
            </div>
            <h3>E-Posta Değiştir</h3>
            <div class="form-group">
                <label for="e-posta">Yeni e-posta</label>
                @Html.TextBoxFor(m => m.UMail, new { @class = "input-item profile-input", placeholder = "yeni e-posta", id = "e-posta", disabled = "true" })
            </div>
            <div class="form-group">
                <label for="ne-posta">Yeni e-posta tekrar</label>
                @Html.TextBoxFor(m => m.UMail, new { @class = "input-item profile-input", placeholder = "yeni e-posta tekrar", id = "ne-posta", disabled = "true" })
            </div>
            <div class="form-group w100">
                @Html.CheckBoxFor(m => m.UNews, new { id = "mail" })
                <label for="mail">Yeni eklenen filmlerden haberdar olmak istiyorum.</label>
                <br>
                @Html.CheckBoxFor(m => m.UAppear, new { id = "status" })
                <label for="status">Kullanıcılar profilimi görüntüleyebilsin.</label>
            </div>
        }
    </div>


    <div class="profile-wrapper" id="comments">

        @if (Model.comments.Count > 0)
        {
            foreach (var comments in Model.comments)
            {
                <div class="container">
                    <div style="display: flex;align-items: center">
                        <b class="active">@comments.Films.FName / yorum:</b>
                        <a class="edit" style="margin-left: auto"><i class="fas fa-edit"></i> Düzenle &nbsp;</a>
                        <a class="edit"> <i class="fas fa-trash "></i> Sil</a>
                    </div>

                    <p>
                        @comments.CText
                    </p>


                </div>
            }
        }
        else
        {
            <p>Yorumunuz Bulunmamaktadır.</p>
        }

    </div>

    <div class="profile-wrapper" id="list">


        <div>
            <h1>Favorilerim</h1>
            <div class="film-wrapper">
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/yol-arkadasim.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/esaretin-bedeli.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h1>İzlediklerim</h1>
            <div class="film-wrapper">
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/yol-arkadasim.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/esaretin-bedeli.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h1>İzleyeceklerim</h1>
            <div class="film-wrapper">
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/yol-arkadasim.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/esaretin-bedeli.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/fight_club.jpg" class="film-poster" />
                    </a>
                </div>
                <div class="film-box">
                    <a href="#">
                        <img src="~/Content/img/life.jpg" class="film-poster" />
                    </a>
                </div>
            </div>
        </div>



    </div>



</div>

<div class="clearfix"></div>

