@model List<FilmPortalı.Models.Films>
@{
    ViewBag.Title = ViewBag.Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Film Container Start -->
<div class="container">
    <h1>@ViewBag.Header</h1>
    <div class="sort-panel">
        <b>Sıralama şekli:</b> <a href='@ViewContext.RouteData.Values["routeName"]?sortBy=eklenme' class='@(ViewBag.active=="eklenme" ? "active" : "")'>Ekleme Tarihi</a>-<a href='@ViewContext.RouteData.Values["routeName"]?sortBy=imdb' class='@(ViewBag.active=="imdb" ? "active" : "")'>IMDB puanı</a>-<a href='@ViewContext.RouteData.Values["routeName"]?sortBy=izlenme' class='@(ViewBag.active=="izlenme" ? "active" : "")'>İzlenme Sayısı</a>
    </div>
    <div class="film-wrapper">
        @{Html.RenderAction("GetType", "Home",new {tur=ViewBag.Tur,sort=ViewBag.active});}
    </div>
    <button class="btn btn-more">Daha Fazla Film</button>
</div>
<!-- Film Container End -->

@section scripts{
    <script>
        var page = 0;
        var sort = window.location.search.trim() != "" ? window.location.search.split("?")[1] : "";
        var tur = window.location.pathname.split("/")[2];
        var count=Math.round(@ViewBag.Count/40);
        $(".btn-more").click(function () {
            $(".btn-more").html("Yükleniyor...");
            page += 1;
            $.ajax({
                url: "/Home/GetType",
                data: {
                    tur,sort,page
                },
                type: "GET",
                success: function (data) {
                    $(".film-wrapper").append(data);
                    $(".btn-more").html("Daha Fazla Film");
                },
                error: function () { }
            });
            if (page >= count - 1) {
                $(this).hide();
            }
        });



    </script>
}
