@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Yerli ve yabancı full hd kesintisiz film izleyin">
    <meta name="keywords" content="yabancı film izle,yerli film izle,altyazılı film izle,film izle,film,hd izle,720p izle,film indir">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Turkish">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Efdal İncesu - Oktay Dönmez">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    @Styles.Render("~/bundle/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Fonts/IndieFlower.ttf" />
    <link rel="stylesheet" href="~/Fonts/HindGuntur-Regular.ttf" />
    <link rel="stylesheet" href="~/Fonts/SourceSansPro-Light.ttf" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico" />
</head>
<body>

    @{Html.RenderAction("Header", "Partial");}


    @RenderBody()


    @{Html.RenderAction("Footer", "Partial");}


    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
</body>
</html>