@model FilmPortalı.ViewModel.FilmDetailsViewModel
@{
    ViewBag.Title = Model.film.FName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Film Info Start -->
<div class="container">
    <h1>Fight Club</h1>
    <div class="wrapper info-wrapper">
        <img src="@Model.film.FPoster" alt="@Model.film.FName" class="film-poster">
        <div class="film-info">
            <h4><span>Yönetmen:</span>Mahsun Kırmızıgül</h4>
            <h4><span>Ülke:</span>@Model.film.FCountry</h4>
            <h4><span>Yapım Yılı:</span> @Model.film.FYear.Value.Year</h4>
            <h4><span>IMDB Puanı:</span> @Model.film.FImdb</h4>
            <h4><span>Tür:</span>Aksiyon,Dram</h4>

            <p class="film-summary">@Model.film.FSummary</p>
        </div>
        <ul class="list-container">
            <li><i class="far fa-clock"></i> <a href="@Model.film.FTrailer">Fragman İzle</a></li>
            <li id="watch">
                <i class="fas fa-play"></i> <a href="#">Filmi İzle</a>
                <ul class="list-container" style="position: relative;display: none;" id="source">
                    @foreach (var source in Model.filmSource)
                    {
                        <li><a href="#video-modal" rel="modal:open" data-url="@source.Sources.SUrl">@source.Sources.SName</a></li>
                    }
                </ul>
            </li>
            @if (Session["kullaniciId"] != null)
            {
                <li><i class="fas fa-check"></i> <a href="#" disabled>İzledim</a></li>
                <li><i class="far fa-clock"></i> <a href="#">Daha Sonra İzle</a></li>
                <li><i class="far fa-heart"></i> <a href="#">Beğendim</a></li>
                <li><i class="far fa-thumbs-down"></i> <a href="#">Beğenmedim</a></li>
            }
            else
            {
                <li>Daha fazlası için giriş yap</li>
            }
        </ul>
    </div>
</div>
<!-- Film Info End -->
<!-- Film Crew Start -->

<div class="container">
    <h1>Oyuncular</h1>
    <div class="wrapper">
        @foreach (var crew in Model.crew)
        {
            <a href="#"><img src="@crew.Crews.CPicture" alt="@crew.Crews.CName" class="crew-poster"></a>
        }
    </div>
</div>

<!-- Film Crew End -->
<!-- Film Comment Start -->

<div class="container">
    <h1>Yorumlar</h1>
    @using (Ajax.BeginForm("AddComment", new AjaxOptions { HttpMethod = "POST" }))
    {
        <div class="yorum-input" style="">
            @Html.AntiForgeryToken()
            @Html.Hidden("filmId", Model.film.FId)
            @Html.TextArea("commentText", new { @class = "textarea", style = "width: 90%;resize: none;", placeholder = "yorum yaz...", rows = "5" })
            <button type="submit" style="margin: auto;"><i class="fas fa-share" style="font-size: 25px"></i></button>
        </div>
    }
    <div class="yorum-container">
        @foreach (var m in Model.comment)
        {
            <div class="user">
                <img src='@m.Users.UImage' alt="@m.Users.UName" class="user-image">
                <span>@m.Users.UImage</span>
            </div>
            <div class="yorum">
                <span class="blur-text"><i class="far fa-clock"></i> @m.CDate</span>
                <p style="margin: 0">@m.CText</p>
                @foreach (var sc in m.SubComments)
                {
                    <div class="yorum-container">
                        <div class="user">
                            <img src="@m.Users.UImage" alt="@m.Users.UName" class="user-image">
                            <span>@m.Users.UName</span>
                        </div>
                        <!-- Alt Yorum -->
                        <div class="yorum">
                            <span class="blur-text"><i class="far fa-clock"></i> @sc.SCDate</span>
                            <p style="margin: 0">@sc.SCText</p>
                        </div>
                    </div>
                }
            </div>
        }
        <a href="#" style="margin: auto;"><i class="fas fa-share" style="font-size: 25px"></i></a>
    </div>
</div>


<!-- Film Comment End-->
<!-- Film Video Modal Start -->


<div class="video-container modal" id="video-modal">

    Video


</div>


<!-- Film Video Modal End -->
